<div class="container-fluid">
    <div class="navbar bg-dark">
        <div class="left">
            <a href="" class="text-white">MVN FOX</a>
        </div>
      
        <div class="right">
            <img src="https://ui-avatars.com/api?name=Divin" alt="Divin"> &nbsp;
            <p class="text-white">Divin Irakiza &nbsp;&nbsp;</p>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M6.265 3.807l1.147 1.639a8 8 0 1 0 9.176 0l1.147-1.639A9.988 9.988 0 0 1 22 12c0 5.523-4.477 10-10 10S2 17.523 2 12a9.988 9.988 0 0 1 4.265-8.193zM11 12V2h2v10h-2z"/></svg>
        </div>
    </div>


    <div class=" mt-5 tabs d-flex border">
        <div class="tab col-2 border-right" [routerLink]="['/admin/management/employees']">
            <p class="text-center">Employees</p>
        </div>
        <div class="tab col-2 border-right"  [routerLink]="['/shared/management/products']">
            <p class="text-center">Products</p>
        </div>
    </div>
</div>