<app-navbar></app-navbar>


<div class="container-fluid mt-3 mb-5">
    <div class="row">
    <div class="col-2 ml-auto">
        <button class="btn btn-primary" data-toggle="modal" data-target="#createEmployeeModal">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M11 11V5h2v6h6v2h-6v6h-2v-6H5v-2z"/></svg>
            Create Employee
        </button>
        
    </div>
    </div>
    <div class="table-container mt-4 ml-5 mr-5">
        <table class="table ml-1 mr-1">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Names</th>
                    <th>Username</th>
                    <th>NationalId</th>
                    <th>Access</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees; let i = index">
                    <td>{{i}}</td>
                    <td>{{employee?.user?.names}}</td>
                    <td>{{employee?.user?.username}}</td>
                    <td>{{employee?.user?.nationalId}}</td>
                    <td>{{employee?.access}}</td>
                    <td>{{employee?.user?.status}}</td>
                    <td>
                        <span data-toggle="modal" data-target="#deleteEmployeeModal" (click)="getEmployee(employee._id)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12 22C6.477 22 2 17.523 2 12S6.477 2 12 2s10 4.477 10 10-4.477 10-10 10zm0-2a8 8 0 1 0 0-16 8 8 0 0 0 0 16zm-.997-4L6.76 11.757l1.414-1.414 2.829 2.829 5.656-5.657 1.415 1.414L11.003 16z"/></svg></span>
                        <span data-toggle="modal" data-target="#updateEmployeeModal">
                            <span>
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M12.684 4.029a8 8 0 1 0 7.287 7.287 7.936 7.936 0 0 0-.603-2.44l1.5-1.502A9.933 9.933 0 0 1 22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2a9.982 9.982 0 0 1 4.626 1.132l-1.501 1.5a7.941 7.941 0 0 0-2.44-.603zM20.485 2.1L21.9 3.515l-9.192 9.192-1.412.003-.002-1.417L20.485 2.1z"/></svg>
                            </span>
                        </span>
                        <span data-toggle="modal" data-target="#deleteEmployeeModal">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill="none" d="M0 0h24v24H0z"/><path d="M4 8h16v13a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V8zm2 2v10h12V10H6zm3 2h2v6H9v-6zm4 0h2v6h-2v-6zM7 5V3a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v2h5v2H2V5h5zm2-1v1h6V4H9z"/></svg>
                        </span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>






 <div class="modal fade" id="createEmployeeModal" tabindex="-1" role="dialog"
  
aria-labelledby="createEmployeeModalContentTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <!-- <app-alert *ngIf="alertUser" [alertClass]='alertClass' [message]='alertMessage'>
        </app-alert> -->
        <div class="modal-header">
            <h5 class="modal-title text-center" id="createEmployeeModalLongTitle">
                Create Employee
            </h5>
        </div>
        <div class="modal-body" *ngIf="employeeForm">
            <form class="box-body form-section" (ngSubmit)="createEmployee()" [formGroup]="employeeForm">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
               
                <div class="row mt-3">
                    <div class="col-12">
                        <label class="floating-label">Username</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Username"
                            formControlName="username" required />
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">Names</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Names"
                            formControlName="names" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">National Id</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="NationalId"
                            formControlName="nationalId" required />
                        </div>
                    </div>
                </div>

                
                <div class="row mt-3">
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">User Role</label>
                        <div class="floating-label-group">
                            <!-- <input type="text" class="form-control" autocomplete="off" placeholder="Username"
                            formControlName="role" required /> -->
                            <select name="role" class="form-control" formControlName="role" id="role">
                                <option value="">Role</option>
                                
                                <option value="QA_STAFF">QA STAFF</option>
                                <option value="NORMAL">NORMAL</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">Password</label>
                        <div class="floating-label-group">
                            <input type="password" class="form-control" autocomplete="off" placeholder="Password"
                            formControlName="password" required />
                        </div>
                    </div>
                </div>

                <button class="col-12 edit-btn btn btn-primary mt-5" id="save-fixed-duration-advert"
                    type="submit" [disabled]="employeeForm.invalid || isLoading">
                    <img style="width: 17px; margin-top: -4px;" *ngIf="isLoading"
                        src="assets/images/loader.gif" />
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
</div> 





<div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog"
  
aria-labelledby="updateEmployeeModalContentTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <!-- <app-alert *ngIf="alertUser" [alertClass]='alertClass' [message]='alertMessage'>
        </app-alert> -->
        <div class="modal-header">
            <h5 class="modal-title text-center" id="updateEmployeeModalLongTitle">
                Update Employee
            </h5>
        </div>
        <div class="modal-body" *ngIf="employeeForm">
            <form class="box-body form-section" (ngSubmit)="createEmployee()" [formGroup]="employeeForm">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
               
                <div class="row mt-3">
                    <div class="col-12">
                        <label class="floating-label">Username</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Username"
                            formControlName="username" required />
                        </div>
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">Names</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="Names"
                            formControlName="names" required />
                        </div>
                    </div>
                    <div class="col-6">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">National Id</label>
                        <div class="floating-label-group">
                            <input type="text" class="form-control" autocomplete="off" placeholder="NationalId"
                            formControlName="nationalId" required />
                        </div>
                    </div>
                </div>

                
                <div class="row mt-3">
                    <div class="col-12">
                        <!-- [ngClass]="{'is-invalid': employeeForm.get('name').invalid && employeeForm.get('name').dirty, 'is-valid': employeeForm.get('name').valid   && employeeForm.get('name').dirty}" -->
                        <label class="floating-label">User Role</label>
                        <div class="floating-label-group">
                            <!-- <input type="text" class="form-control" autocomplete="off" placeholder="Username"
                            formControlName="role" required /> -->
                            <select name="role" class="form-control" formControlName="role" id="role">
                                <option value="">Role</option>
                                
                                <option value="QA_STAFF">QA STAFF</option>
                                <option value="NORMAL">NORMAL</option>
                            </select>
                        </div>
                    </div>
                </div>

                <button class="col-12 edit-btn btn btn-primary mt-5" id="save-fixed-duration-advert"
                    type="submit" [disabled]="employeeForm.invalid || isLoading">
                    <img style="width: 17px; margin-top: -4px;" *ngIf="isLoading"
                        src="assets/images/loader.gif" />
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
</div> 


















<div class="modal fade" id="accessEmployeeModal" tabindex="-1" role="dialog"
  
aria-labelledby="accessEmployeeModalContentTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document" *ngIf="employee">
    <div class="modal-content">
        <!-- <app-alert *ngIf="alertUser" [alertClass]='alertClass' [message]='alertMessage'>
        </app-alert> -->
        <div class="modal-header">
            <h5 class="modal-title text-center" id="accessEmployeeModalLongTitle">
                 Employee Access
            </h5>
        </div>
        <div class="modal-body">
            <p>Do you want to {{employee.action}} access to {{employee?.user.names}}</p>
                <button class="col-12 edit-btn btn btn-primary mt-3" id="save-fixed-duration-advert"
                    type="button" (click)="updateAccess(employee._id)">
                    <img style="width: 17px; margin-top: -4px;" *ngIf="isLoading"
                        src="assets/images/loader.gif" />
                    Authorize
                </button>
        </div>
    </div>
</div>
</div>


<div class="modal fade" id="deleteEmployeeModal" tabindex="-1" role="dialog"
  
aria-labelledby="deleteEmployeeModalContentTitle" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document" *ngIf="employee">
    <div class="modal-content">
        <!-- <app-alert *ngIf="alertUser" [alertClass]='alertClass' [message]='alertMessage'>
        </app-alert> -->
        <div class="modal-header">
            <h5 class="modal-title text-center" id="deleteEmployeeModalLongTitle">
                 Delete Employee
            </h5>
        </div>
        <div class="modal-body">
            <p>Do you want to delete {{employee?.user.names}}</p>
                <button class="col-12 edit-btn btn btn-primary mt-3" id="save-fixed-duration-advert"
                    type="button" (click)="deleteEmployee(employee._id)">
                    <img style="width: 17px; margin-top: -4px;" *ngIf="isLoading"
                        src="assets/images/loader.gif" />
                    Authorize
                </button>
        </div>
    </div>
</div>
</div> 






