

<!-- <div class="container-fluid">
  <div class="content">
      <div class="box col-xs-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
          <app-alert *ngIf="alertUserLogin" [alertClass]='alertClass' [message]='alertMessage'>
          </app-alert>
          <div class="box-header">
              <h4>{{'LOGIN.header' | translate}}</h4>

          </div>
          <form class="box-body form-section" [formGroup]="loginForm" (ngSubmit)="login()">
              <div class="row">
                  <div class="col-12">
                      <div class="floating-label-group">
                          <input type="text" id="email" class="form-control" autocomplete="off"
                              formControlName="login" required />
                          <label class="floating-label">{{'LOGIN.inputs.input1' | translate}}</label>
                      </div>
                  </div>
              </div>
              <div class="row">
                  <div class="col-12">
                      <div class="floating-label-group">
                          <input type="password" id="password" class="form-control" autocomplete="off"
                              formControlName="password" required />
                          <label class="floating-label">{{'LOGIN.inputs.input2' | translate}}</label>
                      </div>
                  </div>
              </div>
              <div class="row form-extra">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                      <div class="custom-control custom-checkbox">
                          <input type="checkbox" class="custom-control-input" id="customCheck1">
                          <label class="custom-control-label"
                              for="customCheck1">{{'LOGIN.more-info.info1' | translate}}</label>
                      </div>
                  </div>
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 text-right">
                      <a href="#" class="f-password"
                          routerLink="/reset-password">{{'LOGIN.more-info.info2' | translate}}</a>
                  </div>
              </div>
              <button class="col-12 register-btn btn btn-primary" type="submit"
                  [disabled]="loginForm.invalid || isLogging">
                  <img style="width: 17px; margin-top: -4px;" *ngIf="isLogging" src="assets/images/loader.gif" />
                  {{'LOGIN.submit' | translate}}
              </button>
          </form>
          <div class="box-footer">
              <div class="row">
                  <div class="col-12">
                      <p class="login">{{'LOGIN.meta-info.paragraph' | translate}} <a href="#"
                              routerLink="/signup">{{'LOGIN.meta-info.link' | translate}}</a></p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div> -->









<!-- <td class="actions"
[ngClass]="{'action-icons': (companyForm.get('items').controls[i].get('editable').value)}"
*ngIf="!(companyForm.get('items').controls[i].get('editable').value) && (companyForm.get('items').controls[i].get('id').value); else save">
<span (click)="makeEditable(i)" class="icon">
    <i data-feather="edit-2"></i>
</span>
<span mwlConfirmationPopover
    popoverTitle="{{'MANAGEMENT.tables.delete-title' | translate}}"
    popoverMessage="{{'MANAGEMENT.tables.delete-msg' | translate}}" placement="left"
    (confirm)="deleteCompany(companyForm.get('items').controls[i].get('id').value)"
    (cancel)="cancelClicked = true">
    <span class="icon"><i data-feather="slash"></i></span>
</span>
</td> -->


<!-- <div class="alert alert-dismissible fade show text-white text-center" role="alert" [ngClass]="alertClass">
  {{message | translate}}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
  </button>
</div> -->





<router-outlet></router-outlet>