<app-navbar></app-navbar>


<div class="container-fluid">
    <div class="col-2 float-right">
        <button class="btn btn-primary">New Product</button>
    </div>
    <div class="table-container">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Owner</th>
                    <th>Category</th>
                    <th>Quantity</th>
                    <th>Expiration</th>
                    <th>Exportation</th>
                    <th>Status</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>#</td>
                    <td>Names</td>
                    <td>Username</td>
                    <td>NationalId</td>
                    <td>Access</td>
                    <td>Status</td>
                    <td>Actions</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
